body, #root {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.space-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;

  background: rgba(10, 15, 30, 0.6);
  backdrop-filter: blur(12px);

  border-bottom: 2px solid rgba(0, 255, 255, 0.4);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.15);

  font-family: "Orbitron", sans-serif;

  height: 30px; 
  flex-shrink: 0;
}

.nav-logo {
  color: #00f6ff;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #00f6ff;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #c9faff;
  padding: 8px 14px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #0ff;
  background: rgba(0, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
}

/* Link activo */
.nav-link.active {
  color: #0ff;
  background: rgba(0, 255, 255, 0.2);
  border: 1px solid rgba(0, 255, 255, 0.6);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
}
